<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Answer</title>
</head>
<body>
    {{#if res1}} 
    <p>The answer of 1 task is: {{res1}}</p>
    {{else}} 
    <p>The answer of 1 task is: undefined</p>
    {{/if}} 
    {{#if res2}} 
    <p>The answer of 2 task is: {{res2}}</p>
    {{else}} 
    <p>The answer of 2 task is: undefined</p>
    {{/if}} 
    {{#if res3}} 
    <p>The answer of 3 task is: {{res3}}</p>
    {{else}} 
    <p>The answer of 3 task is: undefined</p>
    {{/if}}
    {{#if res4}} 
    <p>The answer of 4 task is: {{res4}}</p>
    {{else}} 
    <p>The answer of 4 task is: undefined</p>
    {{/if}}  
</body>
</html>